<footer>

    <style>
    .hide_alt_menu ol,.hide_alt_menu ul{ display:none; }
    .hide_alt_menu li:nth-of-type(1n+7){ display: none; }
    </style>


    <div class="container custome_container lazy ">
      
        <div class="row alt_bar1">
           
                
              <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                        <!-- 	Block2-END 	-->
                        <div class="footerBlock normall">
                            <div class="footerTitle">
                                <h6 class="h6 as">Hakkımda <hr color="white"></h6>
                            </div>
                            <div class="emptySpace35"></div>
                             
                            <div class="simple-article style2">
                                <p>Hukuki danışmanlık ve avukatlık hizmetleri sunmakta olan büromuz Adana'da yerleşik olup, Alanında uzman kadromuz ile sizlere en iyi hizmeti vermekten onur duyarız</p>
                                <div class="socialWrapper">
                                </div>
                            </div>
                         
                             <!-- 	Social-START 	-->
                            
                        </div>
                        <!-- 	Block2-END 	-->
                    </div>
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                    <!-- 	Block2-END 	-->
                    <div class=" normall">
                        <div class="footerTitle">
                            <h6 class="h6 as">Linkler <hr color="white"></h6>
                        </div>
                        <div class="emptySpace35"></div>
                         <style>.hide_alt_menu ol,.hide_alt_menu ul{display:none; }
                         .hide_alt_menu ul li a{ text-overflow: ellipsis; white-space: nowrap;}
                            .hide_alt_menu li:nth-of-type(1n+7) {
                                  display: none;
                                
                                }</style>
                        <div class="simple-article style2">
                            <ul class="list hide_alt_menu">
                                <li class='menus '><a  class='current-menu-item page_item   '  title='Hakkımızda' target='' href='/tr/about.html' ><span>Hakkımızda</span></a></li><li class='menus '><a  class='current-menu-item page_item   '  title='Faliyetlerimiz' target='' href='/tr/page/faliyetlerimiz.html' ><span>Faliyetlerimiz</span></a></li><li class='menus '><a  class='current-menu-item page_item   '  title='Duyurular' target='' href='/tr/news.html' ><span>Duyurular</span></a></li><li class='menus '><a  class='current-menu-item page_item   '  title='Foto Galeri' target='' href='/tr/gallery.html' ><span>Foto Galeri</span></a></li><li class='menus '><a  class='current-menu-item page_item   '  title='İletişim' target='' href='/tr/contacts.html' ><span>İletişim</span></a></li>								</ul>
                        </div>
                        <div class="emptySpace-md30"></div>
                    </div>
                    <!-- 	Block2-END 	-->
                </div>
                    
                    
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                        <!-- 	Block4-END 	-->
                        <div class=" normall">
                            <div class="footerTitle">
                                <h6 class="h6 as">İrtibat Bilgileri <hr color="white"></h6>
                            </div>
                            <div class="emptySpace40"></div>
                                <div class="locationBlock">
                                <i class="fa fa-map-marker"></i>
                                <div class="footerContants">
                                    <p>Av.Görkem SARPKAYA</p>
                                    <address><p>Güzelyalı mah. 8116 sokak Ece apt.</p></address>
                                </div>
                            </div>
                                <div class="footerContants">
                                <i class="fa fa-phone"></i>
                                <a href="tel:+90 541 536 99 44">+90 541 536 99 44</a>
                            </div>
                                                                                                                    
                            <div class="footerContants">
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:gorkemsarpkaya@gmail.com">gorkemsarpkaya@gmail.com</a>
                            </div>
                        </div>
                        <!-- 	Block4-END 	-->
                    </div>
                    
                </div>  
                    
                <div class="bottomInfo"></div>
                                    
                <div class="row">
                    <div class=" small">
                            <div class="col-xs-12 col-sm-12">
                            <div class="copy">
                              
                                <p>Copyrights © 2021 All Rights Reserved. Powered by Burak Sarpkaya<br /> </p>
                              </div>
                            </div>
                    </div>
                </div>
                
    </div>
</footer>