{% extends 'layout.html' %}
{% block body %}
<br>
<h1  style="font-size: 35px;">
    &nbsp Hakkımızda
</h1>
<hr>

<div style="padding-right: 600px;" class="team-member position-sticky">
    <div class="col-6">
        <img class="mx-auto rounded-circle" src="/static/img/merve.jpg" alt="..." />
    </div>
</div>
    

<p id="paragraf" style="padding: 1em; "> Merhaba. Ben Görkem Sarpkaya. Yakın Doğu Üniversitesi Hukuk Fakültesi mezunuyum. Büromuzda alanında uzman bir çok avukat ile sizlere hem danışmanlık hem de avukatlık hizmeti sunmaktayız. 
</p>

<div style="padding-right: 600px;" class="team-member position-sticky">
    <div class="col-6">
        <img class="mx-auto small rounded-circle" src="/static/img/gorkem.jpg" alt="..." />
    </div>
</div>
    

<p id="paragraf" style="padding: 1em; "> Merhaba. Ben Görkem Sarpkaya. Yakın Doğu Üniversitesi Hukuk Fakültesi mezunuyum. Büromuzda alanında uzman bir çok avukat ile sizlere hem danışmanlık hem de avukatlık hizmeti sunmaktayız. 
</p>
<hr>

{% endblock body %}