{% extends 'layout.html' %}
{% block body %}
<br>
    <h1>&nbspAnayasa Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >Anayasa hukuku, ulus devletlerin ve diğer siyasi organizasyonların kurucu ve temel yasaları hakkındaki çalışmaları içermektedir. Anayasalar hükûmetler için bir çatı oluşturur, otorite, yeni yasa ve düzenlemelerin yapılmasında siyasi yapıların işlevlerini sınırlandırabilir veya tanımlayabilir.</p>
    <p id = "bosluk"> Anayasa kavramı temel yasayla özdeşleştirilebilse de aslında yerine göre farklı şekillerde kullanılabilir. Terim olarak hukuk terimleri içerisinde hiyerarşik tablonun en üstünde bulunduğundan dolayı böyle bir sonuca varılabilir. Tabi bu çerçeve içerisinde ele alındığında anayasa ile anayasa hukuku kavramlarını ayrı düşünmek gerekir; tabi böyle bir ayrımı kavramsal ya da terimsel farklılıklara dayandığı için yaparız.

        Anayasa hukuku temelde devletin temel işleyiş biçimlerine değinir, yani yasama(yasa koyucu, yaratıcı güç), yürütme organı(idare biçimleri, hükûmet görevleri, başbakan ve bakanların görevleri), yargı organı(mahkemeler, yargıcın takdir yetkisi veya yarattığı hukuk vb.)... bunlara temel oluştururken aslında bunları bir yandan da denetleyen sistem anayasa hukukunun ta kendisidir. Tabi sadece devletin temeline dayanan bu oluşumlarla ilgili değildir, bunların yanı sıra kişi hak ve özgürlüklerine ilişkin kurallar, güvenceler ve yaratımları da içerir.
        
        Anayasa hukukunun, diğer hukuk dallarından ayrılığı hiyerarşik yapıdan dolayıdır ki bu anayasanın yapısıyla ilgili bir durumdur. Yani burada asıl olarak anlatılmak istenen anayasanın katılığı veya yumuşaklığına dayanan yapısıdır. Bir anayasanın sert, katı, ya da otoriter olması veya yumuşak, değiştirilebilir olması bununla alakalıdır.</p>
{% endblock body %}