{% extends 'layout.html' %}
{% block body %}


<div class="contentPadding our_service_area article_home_area">
    <div id= "makale" class="container col-lg-12 custome_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleShortcode has-line is-inline smallMb normall">
                    <br>
                    <h4 style="font-size: 35px;" class="h4 as">
                    &nbsp Makaleler
                    <hr>
                    </h4>
                    
                    <p></p>
                </div>
            </div>
            
            <div id="article" class="our_s_inner">
                <!-- 	Services1-START 	-->
                
                <br>
                <br><br>
                <div id="makaleler" class="container col-sm-6 col-md-4 col-lg-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                        <a title="Ticaret Hukuku" href="/articles/ticarethukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/ticaret-hukuku-1024x683.jpg') }}" alt="Ticaret Hukuku">
                        </a>
                       
                        <div class="text_white">
                            <div class="service_text ">
                                <h5 class="h5 as"><a title="Ticaret Hukuku" href="/articles/ticarethukuku">Ticaret Hukuku</a></h5>
                                    <div class="simple-article small">
                                        <p>Şirket Kuruluşu	Sermaye Arttırımı, Sermaye Azaltımı, Sermaye Tamamlanması	Hisse Devirleri	Nevi Değiştirme/ Birleşme&...</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                      
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="İş Hukuku" href="/articles/ishukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/ishukuku.jpg') }}" alt="İş Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                            <h5 class="h5 as"><a title="İş Hukuku" href="/articles/ishukuku">İş Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Türk İş Kanunu çerçevesinde Personel İş Sözleşmeleri&rsquo;nin düzenlenmesi ve hukuki açıdan  değerlendirilmesi	Şirketin istihdam-pers...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="İnternet Hukuku" href="/articles/internethukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/internethukuku.jpg') }}" alt="İnternet Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                            <h5 class="h5 as"><a title="İnternet Hukuku" href="/articles/internethukuku">İnternet Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Alan adı ve marka uyuşmazlıklarının giderilmesi ile şirket/ürüne ilişkin alan adı seçiminde hukuki danışmanlık hizmeti sunulması. 	E-Sözleşme me...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="Ceza Hukuku" href="/articles/cezahukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/cezahukuku.jpg') }}" alt="Sözleşme Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                <h5 class="h5 as"><a title="Ceza Hukuku" href="/articles/cezahukuku">Ceza Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Aşağıda belirtilen sözleşme türleri ile sınırlı olmaksızın, her türlü sözleşmenin hazırlanması ve/veya hukuki açıdan incelenmesi:  	Ortaklık Sözleşme...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="İcra İflas Hukuku" href="/articles/icraiflashukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/icra-iflas.jpg') }}" alt="Reklam & Medya Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                <h5 class="h5 as"><a title="İcra İflas Hukuku" href="/articles/icraiflashukuku">İcra İflas Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Televizyon reklamları (reklam metni &amp; reklam filmi), kamuya yönelik ilan ve duyurular ile medyada yayınlanan her türlü reklam ürününün Reklam H...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="Borclar Hukuku" href="/articles/borclarhukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;" src="{{ url_for('static', filename = 'img/borclar-hukuku.jpg') }}" alt="Borçlar Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                <h5 class="h5 as"><a title="Borçlar Hukuku" href="/articles/borclarhukuku">Borçlar Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Gayrimenkul tapu kayıtlarının incelenmesi	Gayrimenkul ipoteği ve gayrimenkul irtifak hakkı sözleşmelerinin hazırlanması, tapu sicil müdürlük...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
             
                <div id="makaleler" class="col-sm-6 col-md-4">
                    <div class="ThumbnailWrapper style2 ">
                   
                    <a title="Anayasa Hukuku" href="/articles/anayasahukuku" class="imgWrapper ">
                             <img class="lazy" height="230px" width="350px"  style="height:230px;border-radius: 10px;" src="{{ url_for('static', filename = 'img/anayasa-hukuku.jpg') }}" alt="Bilişim Hukuku">
                        </a>
                       
                        <div class="text_white">
                        <div class="service_text ">
                <h5 class="h5 as"><a title="Anayasa Hukuku" href="/articles/anayasahukuku">Anayasa Hukuku</a></h5>
                            <div class="simple-article small">
                                <p>Bilişim hukuku avukatlarımız, hem yeni kurulan hem de köklü teknoloji şirketleriyle çok yakın çalışmakta, yeni şirketlerin kuruluşları...</p>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
                                    <!-- 	Services1-END 	-->
            </div>
        </div>
    </div>
</div>


{% endblock body %}