{% extends 'layout.html' %}
{% block body %}
<br>
    <h1>&nbspBorçlar Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >Borçlar hukuku bir özel hukuk dalıdır ve eşitler arasında meydana gelen ve borç ilişkisi adı verilen hukuki ilişkilerin incelendiği bir disiplindir. Borçlar Kanunu özel hukukta borçlar hukukuna kaynaklık eder ve borçlar hukuku alanına giren borç ilişkilerini düzenleyen bir kanundur. Borç ilişkisi kavramı, özel hukuk açısından tanımlandığında, alacaklı ve borçlu adı verilen iki taraf arasında meydana gelen ve borçlu olan tarafın alacaklıya karşı belli bir davranış biçiminde (edimde) bulunmakla yükümlü olduğu, alacaklının da borçludan bu davranış biçiminin yerine getirilmesini isteyebileceği (ifayı talep edebileceği) hukuki bir bağdır.</p>

{% endblock body %}