{% extends 'layout.html' %}
{% block body %}
<br>
    <h1>&nbspCeza Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >Ceza hukuku, suç ve ceza kavramlarını inceleyen kamu hukuku bölümüdür. Genel ve özel ceza hukuku olarak ikiye ayrılır (ceza genel ve ceza özel olarak da ifade edilmektedir).

        Genel ceza hukukunun konusu suç kavramının maddi ve manevi unsurlarıyla tanımı, ceza hukukuna hakim olan genel ilkeler, ceza kavramının tanımı, suçu ortadan kaldıran nedenler, cezayı azaltan ve ortadan kaldıran nedenler gibi bütün suçlar için geçerli olan ilke ve teorilerdir.
        
        Özel ceza hukukunun konusu ise ülkenin kanunlarına göre suç sayılan eylemlerin neler olduğu, bunların kapsam ve sınırları, birbirlerinden ayrılan yönleri ile bu suçlara öngörülen cezalardır.
        
        Ceza hukuku geniş anlamda ceza yargılaması usulunü de içerirken dar anlamda ceza yargılaması ceza hukukunun dışında kalır.</p>

{% endblock body %}