{% extends 'layout.html' %}
{% block body %}
    <h1>&nbspİcra İflas Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >İcra hukuku, borcunu ödeyemeyen borçlunun borcunun, alacaklının talebi üzerine, devlet zoruyla taşınır ve taşınmaz varlıklarına el konarak karşılanmasını konu alan hukuk dalıdır.

        İcranın ilamlı ve ilamsız icra olmak üzere iki türü olup, ilamlı icra takibi mahkeme kararı doğrultusunda başlatılan icra takibi türü iken, doğrudan icra dairesine başvurularak başlatılan takip işlemi ilamsız icra takibi olarak adlandırılır.</p>

{% endblock body %}