{% extends 'layout.html' %}

{% block body %}
<!-- <div class="container text-center">
    <h1 id="baslik" style="font-size: 40px;" >SARPKAYA HUKUK VE DANIŞMANLIK</h1>
    <img src="{{ url_for('static', filename = 'img/gostericiler-hukuk-buerosu-1.svg') }}", height="100px", width="250px", >
    <br>
    <br>

    <h5 id="baslik" style="font-size: 25px;">Av.GÖRKEM SARPKAYA</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img id="burak" class="d-block w-100 rounded" src="/static/img/Lawyer.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>GÜVEN</h5>
                            <p>Karşılıklı Güven çok önemli olmakla beraber önceliğimizdir</p>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 rounded" src="/static/img/Lawyer.jpg" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 rounded" src="/static/img/Lawyer.jpg" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <div class="col-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-9">

            </div>
            <div class="col-3">
                
            </div>
        </div>
        
    </div>
    <hr> -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="burak" class="d-block w-100 rounded" src="/static/img/Lawyer.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
              <h5>GÜVEN</h5>
              <p>Karşılıklı Güven çok önemli olmakla beraber önceliğimizdir</p>
            </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 rounded" src="/static/img/Lawyer.jpg" alt="Second slide">
        </div>
         -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id="burak" class="d-block w-100 rounded" src="/static/img/hukuk4.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>GÜVEN</h5>
        <p>Karşılıklı güven bizler için çok önemlidir</p>
      </div>
    </div>
    
    <div class="carousel-item">
      <img id="burak" class="d-block w-100 rounded" src="/static/img/hukuk.jpg" alt="Second slide">
      <div  style="color: black ;" class="carousel-caption d-none d-md-block">
        <h5>SAĞLIKLI BİLGİ</h5>
        <p>Davanızın olumlu ilerlemesi için bilgilerin tan ve zamanında verilmesini bekleriz</p>
      </div>
    </div>
    <div class="carousel-item">
      <img id="burak" class="d-block w-100 rounded" src="/static/img/hukuk1.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>BAŞARI</h5>
        <p>Başarmak sizleri mutlu etmesi bizleri mutlu etmesi demektir</p>
      </div>
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section class="page-section" style="padding: 1cm;">
  <div class="container">
      <div class="text-center">
          <h2 id="baslik" class="section-heading text-uppercase">SARPKAYA HUKUK VE DANIŞMANLIK</h2>
          <img src="{{ url_for('static', filename = 'img/gostericiler-hukuk-buerosu-1.svg') }}", height="100px", width="250px", >

          <h3 class="section-subheading text-muted"></h3>        
      </div>
      
      <div class="row text-center">
          <div id="ortablok" class="card col-md-4" style="width: 4em;border: 0cm;">
              <span style="display: block; width: auto;" class="fa-stack fa-4x fa-align-center">
                  <a href="satinal">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse "></i></a>
              </span>
              <h4 class="my-3">BAŞVURU VE ÜCRET</h4>
              <p class="text-muted">Başvurularınızı web sitemizde bulunan Satın Al kısmında bilgilerinizi girerek yapmalısınız. Ücret hakkında detaylı bilgi avukatlarımızın size telefon yoluyla geri dönüşü ile sağlanacaktır.</p>
          </div>
          <div id="ortablok" class="card col-md-4" style="width: 18rem;margin: 0px;border: 0cm;">
              <span style="display: block; width: auto;" class="fa-stack fa-4x fa-align-center">
                <a href="addforum">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i></a>
              </span>
              <h4 class="my-3">UZAKTAN ERİŞİM</h4>
              <p class="text-muted">UYAP aracılığı ile mevcut dosyanızı inceleyerek tarafınıza bilgi paylaşımını web sitemiz üzerinden ya da diğer iletişim vasıtaları ile aktarabilmekteyiz.</p>
          </div>
          <div id="ortablok" class="card col-md-4" style="width: 18rem;margin: 0px;border: 0cm;">
              <span style="display: block; width: auto;" class="fa-stack fa-4x fa-align-center">
                <a href="about">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i></a>
              </span>
              <h4 class="my-3">BİLGİ GÜVENLİĞİ</h4>
              <p class="text-muted">Bilgileriniz tüm avukatlarımızca hassasiyetle korunmakta ve bilgilerinizin 3. şahıslarca edinilmemesi prensibimizdir </p>
          </div>
      </div>
  </div>
</section>
<section style="background-color: rgb(248, 247, 228);padding: 0;" class="page-section" id="team">
  <div class="container">
      <div class="text-center">
          <h3 style="font-size: 30px;" class="section-subheading mb-4">AVUKATLARIMIZ</h3><hr>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/merve.jpg" alt="..." />
                  <h4>Merve GÜRSES</h4>
                  <p class="text-muted">AVUKAT</p>
                  <a title="Twitter" class="btn btn-dark btn-social mx-2" href="https://twitter.com/MerveeGurses"><i class="fab fa-twitter"></i></a>
                  <a title="İnstagram" class="btn btn-dark btn-social mx-2" href="https://instagram.com/merveeegurses"><i class="fab fa-instagram"></i></a>
                  <a title="+90 534 333 70 04" class="btn btn-dark btn-social mx-2" href="tel:+90 534 333 70 04"><i class="fa fa-phone"></i></a>
                  <a title="gorkemsarpkaya@gmail.com" class="btn btn-dark btn-social mx-2" href="mailto:gorkemsarpkaya@gmail.com"><i class="fa fa-envelope"></i></a>

              </div>
          </div>
          <div class="col-lg-6">
              <div class="team-member">
                  <img class="mx-auto rounded-circle" src="/static/img/gorkem.jpg" alt="..." />
                  <h4>Görkem SARPKAYA</h4>
                  <p class="text-muted">AVUKAT</p>
                  <a title="Twitter" class="btn btn-dark btn-social mx-2" href="https://twitter.com/GorkemSarpkaya"><i class="fab fa-twitter"></i></a>
                  <a title="İnstagram" class="btn btn-dark btn-social mx-2" href="https://instagram.com/gorkemsarpkaya"><i class="fab fa-instagram"></i></a>
                  <a title="+90 541 536 99 44" class="btn btn-dark btn-social mx-2" href="tel:+90 541 536 99 44"><i class="fa fa-phone"></i></a>
                  <a title="gorkemsarpkaya@gmail.com" class="btn btn-dark btn-social mx-2" href="mailto:gorkemsarpkaya@gmail.com"><i class="fa fa-envelope"></i></a>

              </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
      </div>
  </div>
</section>



{% endblock body %}