{% extends 'layout.html' %}
{% block body %}
<br>
    <h1>&nbspİnternet Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >Bilişim hukuku, sayısal bilginin paylaşımını konu alan hukuk dalıdır. İnternetin kullanımına ilişkin yasal çerçeveyi belirleyen internet hukukunu kapsamaktadır. Bu bağlamda; gizlilik ve ifade özgürlüğü gibi kavramlar da bilişim hukukunu ilgilendirir.

        Bilişim hukukunun, "Bilgi Teknolojisi hukuku" ve "İnternet hukuku" başlıkları altında ikiye ayrılarak incelenmesi gerekir.[1] Bilgi Teknolojisi hukuku hem dijital hale getirilmiş bilginin hem de bilgisayar programlarının dağıtılması ile ilgili hükümleri düzenler. Bilgi güvenliğinin sağlanması ve elektronik ticaret konularında düzenlemeler içerir. Diğer taraftan İnternet hukuku, İnternet’in kullanılması ile ortaya çıkan hukuki meseleleri inceler. İnternet hukukunun hukukun birçok alanı ile etkileşim içerisinde bulunması gerekir. İnternet erişimi ve kullanımı, güvenlik, ifade özgürlüğü ve yargılama gibi hukukun diğer alanları ile ilişkilidir.</p>

{% endblock body %}