{% extends 'layout.html' %}
{% block body %}
    <h1>&nbspİş Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >İş hukuku, işçi hakları, çalışma koşulları, işçi ücretleri, işçi sendikaları ve işveren-işçi ilişkileri ile ilgili konuları inceleyen hukuk dalı. İş hukuku Kara Avrupası hukuk sistemlerine dahil ülkelerde genellikle milli iş kanunları ile düzenlenir. İş uyuşmazlıkları kural olarak iş mahkemelerinde görülmektedir. İş mahkemelerinin bulunmadığı yerlerde ise asliye hukuk mahkemelerinde görülmektedir.</p>

{% endblock body %}