{% extends 'layout.html' %}
{% block body %}
<br>
    <h1>&nbspTicaret Hukuku</h1>
    <hr>
    <br>
    <p id = "bosluk" >Ticaret hukuku, hukukun, ticaretle ilişkili tüm mevzuatı kapsayan bir alt dalıdır. İşletmeler, tacirler, bireyler arasındaki ticari ilişkileri, alışverişi ve tarafların haklarını düzenler.Hükümler ülkemizde, temel olarak Ticaret Kanunu'nda toplanmıştır (2011'da 6102 sayılı yasa). Ayrıca Sermaye Piyasası Kanunu, Banka Kartları ve Kredi Kartları Kanunu ticaret hukuku kanunlarındandır.Ticaret hukukunun genel kavramları tacir, ticari işletme, ticaret sicili, ticaret unvanı, haksız rekabet, ticari defterler, cari hesap, ticari işler tellallığı, acentelık, ticaret ortaklıkları başlıklarında tanımlanır.Ticaret ortaklıkları kolektif, komandit, anonim, limited, kooperatif ortaklıklarıdır. Belgelerle ilgili hukuk, kıymetli evrak başlığında toplanmıştır. Düzenlenme biçimleri nama yazılı ve hamiline yazılı olur.Poliçe, bono, çek, emtia senetleri ve taşıma senetleri kıymetli evrak türlerindendir.</p>

{% endblock body %}